# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
venv/
.venv

# Frontend / Node
node_modules/
dist/
dist-ssr/
*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project specific
uploads/
vector_store/*.faiss
backend/uploads/
backend/vector_store/*.faiss
